development:
  adapter: postgresql
  encoding: unicode
  database: ideaborough_development
  pool: 5

test:
  adapter: postgresql
  encoding: unicode
  database: ideaborough_test
  pool: 5

production:
  adapter: postgresql
  encoding: unicode
  database: ideaborough_production
  pool: 5
